/* hide scrollbar but allow scrolling */
.movie-container {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.movie-container::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.movie-container {
  display: none;
}
